<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njwb.zijin.dao.DeptMapper">
    <select id="selectAllDept" resultType="com.njwb.zijin.entity.Dept">
        SELECT id, name, leader FROM dept
    </select>
</mapper>
